[DXR]
enabled_plugins     = pygmentize clang
temp_folder         = /root/repos/temp
target_folder       = /root/repos/target
nb_jobs             = 12

[llvm]
source_folder       = /root/repos/llvm
object_folder       = /root/repos/llvm
build_command       = ./configure --enable-optimized --disable-assertions && make -j $jobs

[qemu]
source_folder       = /root/repos/qemu
object_folder       = /root/repos/qemu
build_command       = ./configure --disable-gtk && make -j $jobs
